<!-- <ion-icon style="width: 40px;height: 40px;" name="close" (click)="closeModal()"></ion-icon>
    <div>First Name<input [(ngModel)]="nameFirst" #ctrl="ngModel" placeholder="First Name" /><ion-button (click)="settingsUpdate('first name')">Add</ion-button></div>
    <div>Last Name<input [(ngModel)]="nameLast" #ctrl="ngModel" placeholder="Last Name" /><ion-button (click)="settingsUpdate('last name')">Add</ion-button></div>
    <div>Add Email<input [(ngModel)]="emailAddress" #ctrl="ngModel" placeholder="Your Email Address" /><ion-button (click)="settingsUpdate('email')">Add</ion-button></div>
    <div>Set search radius <input [(ngModel)]="radius" #ctrl="ngModel" placeholder="Miles" /><ion-button (click)="settingsUpdate('mile radius')">Add</ion-button></div>
    <div>School<input [(ngModel)]="school" #ctrl="ngModel" placeholder="New School" (ngModelChange)="onChange($event)" /><ion-list>
     <ion-item *ngFor="let uni of universities">
        <div (click)="selectUni($event)">{{uni.name}}</div>
      </ion-item>
    </ion-list><ion-button (click)="setSchool('school')">Add</ion-button></div>
    <div>Currently logged in as<ion-button (click)="switchAccount()">Switch Accounts</ion-button></div>
    <ion-button (click)="closeModal()">Submit Info</ion-button>
    <div style="color: crimson">DANGER ZONE!!!<br />Delete Your Account <ion-button (click)="deleteProfile()">Please don't press me!!!<ion-icon name="sad"></ion-icon></ion-button></div> -->
    <ion-content padding>
    <ion-icon style="height: 40px; text-align:center;" name="close" (click)="closeModal()"></ion-icon>
    <div style="margin-bottom:15px; width:100%; text-align:center;">
        <div style="width:100%;">
            <div style="font-weight:900; font-size: 16px; margin-left: 15px; margin-bottom: 6px; color: #176ACC;">
              EDIT PROFILE
            </div>
          <ion-input #first position="stacked" style="text-align:center; margin-left: 23px;" required="true" clear-input="true" placeholder="First Name"></ion-input>
          <ion-input #last position="stacked" style="text-align:center; margin-left: 23px;" clear-input="true" placeholder="Last Name"></ion-input>
          <ion-input #email clear-input="true" style="text-align:center; margin-left: 23px;" placeholder="Email Address"></ion-input>
          <ion-input #radius clear-input="true" style="text-align:center; margin-left: 23px;" placeholder="Search Radius"></ion-input>
          <ion-button (click)="settingsUpdate(first.value, last.value, email.value, radius.value, 'school')" size="small">Submit Info</ion-button>
          <br>
          <br>
              <ion-input [(ngModel)]="school" #ctrl="ngModel" style="text-align:center; margin-left: 4px;" placeholder="New School" (ngModelChange)="onChange()"></ion-input>
              <ion-list>
                <ion-item *ngFor="let uni of universities">
                    <div (click)="selectUni($event)">{{uni.name}}</div>
                </ion-item>
                <ion-button (click)="setSchool('school')" size="small">Update School</ion-button>
              </ion-list>
        </div>
    </div>
  </ion-content>
  <!-- 
    <form [formGroup]="myForm">
        Naam: <input type="text" formControlName="name"><br>
        Age: <input type="number" formControlName="age">
      
        <button>Save</button>
      </form> -->