<!-- <ion-header>
  <ion-toolbar>
      <a style="color:176ACC; font-weight:700;" (click)="onSignUpClick()" routerLink="/Profile">SIGN UP</a><br /> 
      <a style="color:176ACC; font-weight:700;" (click)="onLoginClick()" routerLink="/Matches">LOGIN</a>
  </ion-toolbar>
</ion-header> -->
<ion-content padding>
  <div>
    <img style="width: 120px; height: 150px; margin-top: 200px; margin-left: auto; margin-right: auto; display: block" src="../../assets/img/biblio-logo-04.png" />
  </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- <a style="color:176ACC; font-weight:700;" (click)="onSignUpClick()" routerLink="/Profile">SIGN UP</a><br /> 
    <a style="color:176ACC; font-weight:700;" (click)="onLoginClick()" routerLink="/Matches">LOGIN</a> -->
    <ion-button expand="block" (click)="onSignUpClick()" routerLink="/Profile">SIGN UP</ion-button>
    <br>
    <!-- <ion-button color="dark" expand="block" (click)="onSignUpClick()" routerLink="/Matches">LOGIN</ion-button> -->
    <ion-button color="dark" expand="block" (click)="onLoginClick()" routerLink="/Matches">LOGIN</ion-button>

</ion-content>



<!-- <ion-footer mode="ios" *ngIf="bool">
  <ion-toolbar>
    <ion-title>
        <a routerLink="/Greet">Logout</a>
    </ion-title>
  </ion-toolbar>
  </ion-footer> -->