<ion-header>
  <ion-toolbar>
    <a (click)="onSignUpClick()" routerLink="/Profile">Signup</a><br /> <a (click)="onLoginClick()" routerLink="/Matches">Login</a>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ul id="messages"></ul>
  <form action="">
    <input id="m" autocomplete="off" /><button>Send</button>
  </form>
</ion-content>
<!-- <ion-footer mode="ios" *ngIf="bool">
    <ion-toolbar>
      <ion-title>
          <a routerLink="/Greet">Logout</a>
      </ion-title>
    </ion-toolbar>
  </ion-footer> -->