<ion-content padding>
      <ion-icon style="width: 40px;height: 40px;" name="close" (click)="closeModal()"></ion-icon>
      <div style="margin-bottom:15px; text-align:center">
        <div style="width:100%;Text-align:center; font-size: 20px; font-weight:700;font-size:120%">
            DROP US A LINE
          <br>
        </div>
        <div style="width:100%;Text-align:center;">
            <ion-input clear-input="true" [(ngModel)]="emailAddress" #ctrl="ngModel" placeholder="Email"></ion-input>
            <ion-textarea maxlength="400" [(ngModel)]="emailBody" #ctrl="ngModel" placeholder="Message Us"></ion-textarea>
          </div>    
        <ion-button (click)="submitEmail()" size="small" >Submit</ion-button>
      </div>
    </ion-content>