<ion-icon style="width: 40px;height: 40px;" name="close" (click)="closeModal()"></ion-icon>
<div>

    <a style="color:176ACC; font-weight:700;">
        CURRENT OFFER:
        </a>
        <ion-list>
          <ion-item>
            {{peer}} REQUESTS:<br>
            {{myTitles}}<br>
            {{userMoney}}<br>
            IS OFFERING:<br>
            {{peerTitles}}<br>
            {{peerMoney}}
              <!-- <div>
              <ion-button (click)="acceptOffer(i)" size="small" style="float: right;">Accept</ion-button>
              <ion-button (click)="rejectOffer(i)" size="small" style="float: right;">Reject</ion-button>
              <ion-button (click)="counterOffer(); openCounterOfferModal()" size="small" style="float: right;">Counter</ion-button>
            </div> -->
            </ion-item>
        </ion-list>
        <a style="color:176ACC; font-weight:700;">
    COUNTER OFFER
    </a>
    <div *ngIf="ready">
        <ion-list>
          <ion-item>
              <label color="primary" stacked>I want:     </label><br />
              <ion-select #want multiple="true" placeholder="Book you want">
                <ion-select-option *ngFor="let want of possibleBooks[1]" style="overflow: visible;">
                    {{want.title}}
                </ion-select-option>
              </ion-select>
              <br>
              <ion-input #getPaid placeholder="$0.00" style="display: block" clear-input="true" [(ngModel)]="wantMoney" #ctrl="ngModel"></ion-input>
          </ion-item>
          <ion-item>
              <label color="primary" stacked>I'm offering: </label><br />
              <ion-select #offer multiple="true" placeholder="Book you are offering">
                <ion-select-option *ngFor="let listing of possibleBooks[0]" style="overflow: visible;">
                    {{listing.book.title}}
                </ion-select-option>
              </ion-select>
              <ion-input #walletLoss placeholder="$0.00" clear-input="true" [(ngModel)]="offeredMoney" #ctrl="ngModel"></ion-input>
          </ion-item>
          <ion-button (click)="sendCounterOffer(want.value, offer.value)" size="small">Send Counter</ion-button>
        </ion-list>
    </div>
    
</div>