<!-- <ion-content style="width: 40%; height: 40%;"></ion-content> -->
<ion-icon style="width: 40px;height: 40px;" name="close" (click)="closeModal()"></ion-icon>
<div>
   Add a Book to Your Listings<ion-input [(ngModel)]="isbnVal" #ctrl="ngModel" placeholder="#isbn"></ion-input>
   <ion-item>
      <ion-label >Condition</ion-label>
      <ion-select [(ngModel)]="bookCondition">
      <ion-select-option value="Like New">Like New</ion-select-option>
      <ion-select-option value="Good">Good</ion-select-option>
      <ion-select-option value="Fair">Fair</ion-select-option>
      <ion-select-option value="Poor">Poor</ion-select-option>
      </ion-select>
   </ion-item>
   <div>
   <ion-button [hidden]='open' size="small" id="startButton" (click)="camOpen()">Take Photo</ion-button>
   <ion-button [hidden]='!open' size="small" id="resetButton" (click)="camClose()">Close</ion-button>
   </div>
   <div [hidden]='!open' id="sourceSelectPanel">
     <select id="sourceSelect" style="max-width:400px">
     </select>
   </div>
   <div *ngIf='open'>
     <video id="video" width="300" height="200" style="border: 1px solid gray"></video>
   </div>
   <ion-button (click)="addBook(isbnVal, bookCondition, getBookTitle)" size="small" style="float: right;">ADD</ion-button>
</div>