<ion-header>
  <ion-toolbar>
      <ion-title>
        <a style="color: #B1C634; text-decoration: none; " href="/Profile" >PROFILE</a>
        <a style="color: lightgrey; padding-left: 40px;; padding-right: 40px;"> | </a>
        <a href="/Matches" style="text-decoration: none" >MATCHES</a> 
      </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding fullscreen="true">
  <ion-avatar style="margin: 0 auto">
    
     <img src={{img}} *ngIf="loaded" /><br />
  </ion-avatar>
  <div style="margin-top: 10px; margin-left: auto; margin-right: auto;" *ngIf="loaded" style="Text-align:center">{{school}}</div>
  <div style="width:100%;Text-align:center; font-size: 20px; font-weight:700; font-size:120%; ">
      <p>{{user | uppercase}}</p>
  </div>
  <br />



  <!-- <ion-content>
    <img>
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button>
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content> -->
  <!-- <a button icon-start ion-button full (click)="openCamera()">
    <ion-icon name="camera"></ion-icon>
    <i class="icon ion-ios-telephone"></i>
  </a> -->

  <!-- <div>
  <ion-button [hidden]='open' size="small" id="startButton" (click)="camOpen()">Take Photo</ion-button>
  <ion-button [hidden]='!open' size="small" id="resetButton" (click)="camClose()">Close</ion-button>
  </div> -->



  <div [hidden]='!open' id="sourceSelectPanel" style="display:none">
    <select id="sourceSelect" style="max-width:400px">
    </select>
  </div>
  <div *ngIf='open'>
    <video id="video" width="300" height="200" style="border: 1px solid gray"></video>
  </div>
  <div *ngIf="offers.length">
  <a style="color:#B1C634; font-weight:900; font-size: 16px; margin-left: 15px; margin-bottom: 6px;">
  PENDING OFFERS:</a>
  <ion-item *ngFor="let offer of offers; let i = index">
    <ion-label>
      <b>{{offer.peer}} Is Looking For:</b> <br />
      <div *ngFor="let title of offer.myTitles; let i = index">
        {{title}}<br>
      </div>
      {{offer.userMoney}}
      <b>Is Offering:</b> <br />
      <div *ngFor="let title of offer.peerTitles; let i = index">
          {{title}}<br>
      </div>
      {{offer.peerMoney}}
    </ion-label>
          <div>
              <ion-button (click)="acceptOffer(i)" size="small" style="width:60px; margin-top: 10px; margin-left: auto; margin-right: auto; float: right">Accept</ion-button>
              <br />
              <ion-button (click)="rejectOffer(i)" size="small" style="width:60px; margin-top: 10px; margin-left: auto; margin-right: auto; float: right">Reject</ion-button>
              <br />
              <ion-button (click)="counterOffer(); openCounterOfferModal()" size="small" style="width:60px; margin-bottom: 10px; margin-top: 10px; margin-left: auto; margin-right: auto; float: right">Counter</ion-button>
          </div>
      </ion-item>
</div>

  <br />
  <a style="color:176ACC; font-weight:900; font-size: 16px; margin-left: 15px; margin-bottom: 6px;">
  I'M LOOKING FOR:
</a>
<ion-button size="small" style="margin-top: 6px; font-weight:700; margin-right: 15px; background-color: #B1C634; width:10%" (click)="openWantListModal()" style="float: right; padding-right: 5px; padding-left: 5 px;">+</ion-button>
<!-- <ion-icon name="add-circle" (click)="openWantListModal()" style="float: right;" color="default"></ion-icon> -->

<br>
  <!-- <ion-button size="small" style="font-weight:700;" (click)="openAddListingModal()" style="float: right;"> Edit </ion-button> -->
     <ion-item *ngFor="let want of wants">
        <ion-thumbnail slot="start">
            <img 
              style="padding-right: 6px; margin-top: 6px;"
              [src]="want.image_link === null ? '../../assets/img/biblio-logo-noBG-small-07.png' : want.image_link " />
        </ion-thumbnail>
        <ion-label>
            <b>Title:</b> {{want.title}}<br />
            <!-- <b>ISBN:</b> {{want.isbn}} -->
        </ion-label>
        <ion-button size="small" style="font-weight:700; width:10%"  (click)="deleteWant(want.id_want, 'want listing')" style="width:20px; float: right;"> - </ion-button>
        <!-- <ion-icon name="remove-circle-outline" (click)="deleteWant(want.id_want, 'want listing')"></ion-icon> -->
      </ion-item>
  <br />
  <a style="color:176ACC; font-weight:900; font-size: 16px; margin-left: 15px; margin-bottom: 6px;">
  I'M OFFERING:
</a>
<ion-button size="small" style="font-weight:700; background-color: #B1C634; width:10%" (click)="openAddListingModal()" style="width:20px; float: right;"> + </ion-button>
<br>
     <ion-item *ngFor="let listing of listings">
        <ion-thumbnail slot="start">
            <img 
            style="padding-right: 6px;"
            [src]="listing.book.image_link === null ? '../../assets/img/biblio-logo-noBG-small-07.png' : listing.book.image_link " />
        </ion-thumbnail>
        <ion-label>
            <b>Title:</b> {{listing.book.title}}<br />
            <b>Condition:</b> {{listing.book.condition}}<br />
            <!-- <b>ISBN:</b> {{listing.book.isbn}}<br /> -->
        </ion-label>
        <ion-button size="small" style="font-weight:700; width:10%"  (click)="deleteListing(listing.id_book, listing.id_listing, 'offer listing')" style="float: right;">  -  </ion-button>
        <!-- Value: {{listing.value}} -->
      </ion-item>
  <br/>
  <div *ngIf="acceptedOffs.length">
  <a style="color:#B1C634; font-weight:900; font-size: 16px; margin-left: 15px; margin-bottom: 6px;">
  ACCEPTED OFFERS:
  </a>
     <ion-item *ngFor="let offer of acceptedOffs; let i = index">
        <ion-label>
            <b>{{offer.peer}} Recieved:</b> <br />
            <div *ngFor="let title of offer.myTitles; let i = index">
              {{title}}<br>
            </div>
            {{offer.userMoney}}<br />
            <b>You Recieved:</b> <br />
            <div *ngFor="let title of offer.peerTitles; let i = index">
                {{title}}<br>
            </div>
            {{offer.peerMoney}}
          </ion-label>
          <ion-button (click)="cancelAcceptedOffer(i)" style="margin-top: 10px; margin-left: auto; margin-right: auto; float: right">Cancel</ion-button>
      </ion-item>
</div>
  
  <!-- <div class="col-xs-12 buttons">
      <a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_E5tfHJicmsEM7yImGKJv30DqYfd2koHB&scope=read_write"
        class="stripe-connect light-blue dark"><span>Connect with Stripe</span></a>
    </div> -->
</ion-content>
<app-footer></app-footer>