<ion-header>
  <ion-toolbar>
      <ion-title>
      <a style="color: #B1C634; width:50%" routerLink="/Profile">Profile</a> <a style="width:50%" routerLink="/Matches">Matches</a> 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding fullscreen="true">
  <img src={{img}} *ngIf="loaded" /><br />
  <div *ngIf="loaded">{{school}}</div>
  <div style="width:100%;Text-align:center; font-size: 20px; font-weight:700; font-size:120%">
    <p>{{user | uppercase}}</p>
  </div>
  <br />
  <a style="color:176ACC; font-weight:700;">
    PENDING OFFERS:
  </a>
  <ion-list>
      <ion-item *ngFor="let offer of offers">
        {{offer.peer}} is offering {{offer.offeredTitle}} and would like {{offer.wantedTitle}}  |  STATUS: {{offer.status}} <ion-button (click)="acceptOffer()" >Accept</ion-button><ion-button (click)="rejectOffer()" >Reject</ion-button>
      </ion-item>
  </ion-list><br />
  <a style="color:176ACC; font-weight:700;">
    I'M LOOKING FOR:
  </a>
  <ion-button size="small" style="font-weight:700; background-color: #B1C634; width:10%" (click)="openWantListModal()"> + </ion-button>
  <ion-button size="small" style="font-weight:700;" (click)="openAddListingModal()"> Edit </ion-button>
  <ion-list>
    <ion-item *ngFor="let want of wants">
    Title: {{want.title}}<br />
    ISBN: {{want.isbn}}
    </ion-item>
  </ion-list><br />
  <a style="color:176ACC; font-weight:700;">
    I'M OFFERING:
  </a>
  <ion-button size="small" style="font-weight:700; background-color: #B1C634; width:10%" (click)="openAddListingModal()"> + </ion-button>
  <ion-button size="small" style="font-weight:700;" (click)="openAddListingModal()"> Edit </ion-button>
  <ion-list>
      <ion-item *ngFor="let listing of listings">
        Title: {{listing.book.title}}<br />
        Condition: {{listing.book.condition}}<br />
        ISBN: {{listing.book.isbn}}<br />
        <!-- Value: {{listing.value}} -->
      </ion-item>
    </ion-list> <br/>

    <a style="color:176ACC; font-weight:700;">
        ACCEPTED OFFERS:
      </a>
      <ion-list>
          <ion-item *ngFor="let offer of acceptedOffers">
            {{offer.peer}} is offering {{offer.offeredTitle}} and would like {{offer.wantedTitle}}  |  STATUS: {{offer.status}} <ion-button (click)="acceptOffer()" >Accept</ion-button><ion-button (click)="rejectOffer()" >Reject</ion-button>
          </ion-item>
      </ion-list><br />
    </ion-content>
    <app-footer></app-footer>


