<ion-header>
  <ion-toolbar>
      <ion-title>
      <a style="color:blueviolet;width:50%" routerLink="/Profile">Profile</a> <a style="width:50%" routerLink="/Matches">Matches</a> 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding fullscreen="true">
  The world is your oyster.<br />
  {{img}}<br />
  {{school}}
  <p>Welcome to your profile, {{user}}</p>
  Offers:<br />
  <ion-list>
      <ion-item *ngFor="let offer of offers">
        Titles: <br />{{offer.title1}}<br /> 
        {{offer.title2}} <br />
        Offered by: <br />{{offer.offerer}}
      </ion-item>
  </ion-list><br /><br /><br />
  Looking for: <ion-icon (click)="openWantListModal()" name="add-circle-outline"></ion-icon>Add a book!<br />
  <ion-list>
    <ion-item *ngFor="let want of wants">
      Title: {{want.title}}<br />
      ISBN: {{want.ISBN}}
    </ion-item>
  </ion-list><br /><br /><br />
  Offering:<ion-icon (click)="openAddListingModal()" name="add-circle-outline"></ion-icon>Add a book!<br />
  <ion-list>
      <ion-item *ngFor="let listing of listings">
        Title: {{listing.title}}<br />
        Condition: {{listing.condition}}<br />
        <!-- Value: {{listing.value}} -->
      </ion-item>
    </ion-list>
</ion-content>


<app-footer></app-footer>
