<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">



<ion-header>
    <ion-toolbar>
        <ion-title>
          <a style="text-decoration: none; " routerLink="/Profile" >PROFILE</a>
          <a style="color: lightgrey; padding-left: 40px;; padding-right: 40px;"> | </a>
          <a routerLink="/Matches" style="text-decoration: none; color: #B1C634;" >MATCHES</a> 
        </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding fullscreen="true">


  <div>
    <!-- <input id="searchInput" [(ngModel)]="isbnQuery" #ctrl="ngModel" [(ngModel)]="num" placeholder="isbn" /> <br> -->
    <!-- <ion-button size="small" (click)="searchBooks(isbnQuery, setListing)" routerLink="/Matches">Search</ion-button> -->
    <div class="input-group mb-3">
      <input type="text" class="form-control" [(ngModel)]="isbnQuery" #ctrl="ngModel" [(ngModel)]="num"
        placeholder="isbn" aria-label="Recipient's username" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <span (click)="searchBooks(isbnQuery, setListing)" routerLink="/Matches" class="input-group-text"
          style="background-color: #488aff; color: white" id="basic-addon2">Search</span>
      </div>
    </div>
    <a style="color: grey">
      Search By Barcode:
    </a>
    <ion-button [hidden]='open' size="small" id="startButton" (click)="camOpen()" style="float: right;">Scan Barcode</ion-button>
    <ion-button [hidden]='!open' size="small" id="resetButton" (click)="camClose()" style="float: right;">Close Scanner</ion-button>
  </div>
  <div [hidden]='!open' id="sourceSelectPanel" style="display:none">
    <select id="sourceSelect" style="max-width:400px">
    </select>
  </div>
  <div *ngIf='open'>
    <video id="video" width="300" height="200" style="border: 1px solid gray"></video>
  </div>
  <!-- <div *ngIf="listings.length"> -->
  <div style="color:#176ACC; font-weight:700;">
    <br>
      <p>SEARCH RESULTS:</p>
    </div>
    <ion-list>
      <ion-item #list class={{listing.id_user}} *ngFor="let listing of listings; let i = index" [type]="listing">
        <div><img 
          style="padding-right: 6px; max-height: 100px;"
          src={{listing.image_link}} /></div>
        <ion-label>
          Title: {{listing.title}} <br>
          Condition: {{listing.condition}} 
        </ion-label>
        <ion-button (click)="profileButtonClick(i)" style="float: right;" >PROFILE</ion-button>
      </ion-item>
    </ion-list>
  <!-- </div> -->
  <div style="color:#176ACC; font-weight:700;">
    <br>
    <p>YOUR MATCHES:</p>
  </div>
  <div *ngIf="matches.length">
  <ion-list>
    <ion-item #matched style="font-size: 16px" *ngFor="let match of matches; let i = index" [type]="match">
      {{match.name}} has {{match.num}} {{match.type}} you want 
      <ion-button (click)="profileButtonClick(match.id)" style="float: right;">PROFILE</ion-button>
    </ion-item>
  </ion-list>
</div>
</ion-content>


<app-footer></app-footer>