<ion-header>
  <ion-toolbar>
      <ion-title>
      <a routerLink="/Profile">Profile</a> <a style="color: #B1C634" routerLink="/Matches">Matches</a> 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    
        
    <div>Search For A Book <ion-input [(ngModel)]="isbnQuery" #ctrl="ngModel" placeholder="isbn"></ion-input><ion-button (click)="searchBooks(isbnQuery, setListing)" routerLink="/Matches">Search</ion-button></div>
  <p>Welcome to your matches!</p>
  <ion-list>
    <ion-item #list class={{listing.id_user}} *ngFor="let listing of listings; let i = index" [type]="listing">TITLE: {{listing.title}}  |  #ISBN: {{listing.isbn}}  |  CONDITION: {{listing.condition}} <ion-button (click)="profileButtonClick(i)">PROFILE</ion-button></ion-item>
  </ion-list>
  <ion-list>
  
    <ion-item>
      <ion-label fixed>Number</ion-label>
      <ion-input type="text" value="" [(ngModel)]="num"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-button ion-button id="startButton" (click)="scan()">Scan Barcode</ion-button>
    </ion-item>
    <div>
        <ion-button ion-button id="resetButton">Close Scanner</ion-button>
    </div>

    

    <div id="sourceSelectPanel" style="display:none">
        <label for="sourceSelect">Change video source:</label>
        <select id="sourceSelect" style="max-width:400px">
        </select>
    </div>

    <label>Result:</label>
    <blockquote>
        <p id="result"></p>
      </blockquote>
    <div>
        <video id="video" width="300" height="200" style="border: 1px solid gray"></video>
    </div>
  
  </ion-list>
</ion-content>


<app-footer></app-footer>