<ion-header>
  <ion-toolbar>
      <a routerLink="/Profile">Profile</a> <a style="color: blueviolet" routerLink="/Matches">Matches</a> 
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div>Search For A Book <input [(ngModel)]="isbnQuery" #ctrl="ngModel" placeholder="#isbn" /><button (click)="searchBooks()" routerLink="/Matches">Search</button></div>
  <!-- <p>Welcome to your matches!</p> -->
  <ion-list>
    <ion-item #list class={{listing.id_user}} *ngFor="let listing of listings; let i = index" [type]="listing">TITLE: {{listing.title}}  |  #ISBN: {{listing.isbn}}  |  CONDITION: {{listing.condition}} <button (click)="profileButtonClick(i)">PROFILE</button></ion-item>
  </ion-list>
  <ion-list>
  
    <ion-item>
      <ion-label fixed>Number</ion-label>
      <ion-input type="text" value="" [(ngModel)]="num"></ion-input>
    </ion-item>
  
    <ion-item>
      <button ion-button (click)="scan()">Button</button>
    </ion-item>
  
  </ion-list>
</ion-content>


<app-footer></app-footer>